/home/jkb/Data-Science/GitHub/Projects/Deep-Learning/Language-Translation-with-a-Recurrent-Neural-Network-and-a-seq2seq-model/checkpoints
/home/jkb/Data-Science/GitHub/Projects/Deep-Learning/Language-Translation-with-a-Recurrent-Neural-Network-and-a-seq2seq-model/data
/home/jkb/Data-Science/GitHub/Projects/Deep-Learning/Language-Translation-with-a-Recurrent-Neural-Network-and-a-seq2seq-model/__pycache__
/home/jkb/Data-Science/GitHub/Projects/Deep-Learning/Language-Translation-with-a-Recurrent-Neural-Network-and-a-seq2seq-model/params.p
/home/jkb/Data-Science/GitHub/Projects/Deep-Learning/Language-Translation-with-a-Recurrent-Neural-Network-and-a-seq2seq-model/preprocess.p
